a{
  text-decoration: none;
  color:#9999ff;
  font-weight:bold;
}

#main-container{
  height:100%;
  width:100%;
}


.grid-tile{
  overflow:hidden;
  background-color:#aaa;
}

.grid-tile img{
  opacity: .4
}

.img-container img{  
  max-width:250px;
  height:auto;
}

.img-container .overlay{
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background-color:;
}