<div flex layout='row' layout-wrap layout-fill>
  <ng-include src='"views/mainbox.html"' flex flex-xs="100" flex-sm="100" class="main-box"></ng-include>
  <ng-include src='"views/sidenav.html"' layout='row' class='sidenav-container' ></ng-include>
</div>
<md-content layout-padding class='main-content'>
  <h1>Aviso de privacidad</h1>
  <prismic-html fragment="vm.generalContent.fragments['contenido_general.aviso_de_privacidad']"></prismic-html>
</md-content>
<ng-include src='"views/footer.html"'></ng-include>
