<div id="footer">
  <div class="footer-inner">
    <div layout="row">
      <div flex="50">
        <p><a href='/'><img class="logo-footer" src='images/Logo-Medios-Sucios2.png' alt='medios sucios' /></a></p>

        <ul class="sitemap">
          <li><a href=''>¿Porque Reportar?</a></li>
          <li><a href=''>¿Cómo Funciona?</a></li>
          <li><a href=''>¿Reportes?</a></li>
          <li><a href=''>¿Qué es discurso de odio?</a></li>
          <li><a href=''>¿Quienes Sómos?</a></li>
        </ul>
      </div>
    </div>
    <div layout="row" layout-align="space-between start" layout-wrap>
      <div flex="50" flex-sm="100" flex-xs="100">
        <p>
          <span class="icon icon-instagram"></span>
          <span class="icon icon-facebook"></span>
          <span class="icon icon-twitter"></span>
        </p>        
      </div>
      <div flex="40" flex-sm="100" flex-xs="100">
        <p class="final-links">
          <a href="">Legales</a>
          <a href="">Aviso de privacidad</a>
          <a href="">Contacto</a>
        </p>
        <p class="copyright">
          <span>&copy; 2017 medios sucios</span> | Todos los derechos reservados
        </p>
      </div>
    </div>
  </div>
</div>