<div id="footer">
  <div class="footer-inner">
    <div layout="row">
      <div flex="50">
        <p>
          <a href='/'><img class="logo-footer" src='images/Logo-Medios-Sucios2.png' alt='medios sucios' /></a>
        </p>
        <ul class="sitemap">
          <li ng-repeat='page in vm.pages'><a ng-href='#!/content/{{page.slug}}'>{{page.fragments['pagina.titulo'].value[0].text}}</a></li>
        </ul>
      </div>
    </div>
    <div layout="row" layout-align="space-between start" layout-wrap>
      <div flex="50" flex-sm="100" flex-xs="100">
        <p>
          <a target='_blank' ng-href='{{vm.generalContent.fragments["contenido_general.instagram_link"].value.url}}'><span class="icon icon-instagram"></span></a>
          <a target='_blank' ng-href='{{vm.generalContent.fragments["contenido_general.facebook_link"].value.url}}'><span class="icon icon-facebook"></span></a>
          <a target='_blank' ng-href='{{vm.generalContent.fragments["contenido_general.twitter_link"].value.url}}'><span class="icon icon-twitter"></span></a>
        </p>
      </div>
      <div flex-sm="100" flex-xs="100">
        <p class="final-links">
          <!-- <a href="#!/aviso-de-privacidad">Aviso de privacidad</a> -->
          <a href="#!/contacto">Contacto</a>
        </p>
        <p class="copyright">
          <span>&copy; 2017 medios sucios</span> | Todos los derechos reservados
        </p>
      </div>
    </div>
  </div>
</div>
