<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="12" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
  <md-grid-tile ng-repeat='report in vm.reports' md-rowspan="3" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1" class='grid-tile'>
    <div class='md-padding'>
      <h3>{{report.motive}}</h3>
      <h4><a ng-href='{{report.link}}'>{{ report.info.title }}</a></h4>
      <p>
        {{report.info.description}}
      </p>
    </div>
    <md-grid-tile-footer>
      {{report.source.domain}}
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
