<div flex layout='row' layout-wrap layout-fill>
  <div class="main-box" flex flex-xs="100" flex-sm="100">
    <md-toolbar layout="row" class="md-toolbar-tools main-toolbar">
      <h1 flex>Contacto: + 52 <span>(555) 555-5555</span></h1>
      <span class="icon icon-instagram"></span>
      <span class="icon icon-facebook"></span>
      <span class="icon icon-twitter"></span>
      <!--<md-button class='md-secondary md-raised' ng-click='vm.toggleSidenav()' >Reportar</md-button> -->
    </md-toolbar>
    <md-content layout='row' layout-wrap class='marquee' layout-fill>
      <div class="marquee-inner">
        <div layout-align='space-between start' layout='row' class='menu-container'>
          <a href=''>¿Porque Reportar?</a>
          <a href=''>¿Cómo Funciona?</a>
          <a href=''>¿Reportes?</a>
          <a href=''>¿Qué es discurso de odio?</a>
          <a href=''>¿Quienes Sómos?</a>
          <a href=''>Contacto</a>  
        </div>

        <div class="intro-content">
          <h1><strong>Medios sucios</strong> es un sitio que recopila el discurso de odio en medios de latinoamerica</h1>
          <h2>Haz un reporte</h2>
          <p>
            <button class="action-btn">
              Conóce más
            </button>
          </p>
        </div>
      </div>
    </md-content>
  </div>
  <ng-include src='"views/sidenav.html"' layout='row' class='sidenav-container' ></ng-include>
</div>

<div class="charts-section">
  <h1>Reportes</h1>
  <div layout="row" layout-wrap layout-align="space-between center" class="charts-section-inner">
    
    <div flex="33" flex-xs="100" class="chart-item">
      <canvas 
        id="bar" class="chart chart-bar"
        chart-data="vm.sourceData.data" 
        chart-options="vm.sourceData.options"
        chart-labels="vm.sourceData.labels">
      </canvas>
      <h2>Medios</h2>
    </div>

    <div flex="33" flex-xs="100" class="chart-item">
      <canvas id="line" class="chart chart-line" chart-data="vm.dateData.data" 
      chart-labels="vm.dateData.labels">
      </canvas>
      <h2>Fecha</h2>
    </div>

    <div flex="33" flex-xs="100" class="chart-item">
      <canvas 
        id="bar" class="chart chart-bar"
        chart-data="vm.motiveData.data" 
        chart-labels="vm.motiveData.labels" 
        chart-series="vm.motiveData.series">
      </canvas>
      <h2>Motivo</h2>
    </div>

  </div>

</div>

<div class="title-banner">
  <h2>Los marranitos...</h2>
</div>
<div flex layout="row" layout-fill>
  <md-content flex class='md-padding' ng-include='"views/simplelist.html"'></md-content>
</div>


<ng-include src='"views/footer.html"'></ng-include>