<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" flex layout-fill>
  <div class='head'>
    <a href='/'><img src='images/logo1.png' alt='medios sucios' /></a>
  </div>
  <form name='reportForm' ng-submit="vm.submitReport()" class="report-form">
    <div class='md-padding'>
      <h1>¿Cómo participar?</h1>
      <h2>Simplemente llena el formulario</h2>
      <div>
        <md-input-container>
          <label>URL de el Artículo</label>
          <input ng-model="vm.report.url" ng-disabled='vm.reporting' required type='url' name='reportUrl'>
          <div ng-messages="reportForm.reportUrl.$error" role="alert">
            <div ng-message="url">Debe ser un URL valido.</div>
            <div ng-message="required">Este campo es obligatorio.</div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label>Tipo de discriminación</label>
          <md-select 
            aria-label='motivo' 
            ng-model="vm.report.motive" 
            ng-disabled='vm.reporting'
            name='reportMotive' 
            class="select-type"
            required
          >
            <md-option ng-repeat="motive in vm.motives" value="{{motive.title}}">
              {{motive.title}}
            </md-option>
          </md-select>
          <div ng-messages="reportForm.reportMotive.$error" role="alert">
            <div ng-message="required">Este campo es obligatorio.</div>
          </div>
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Comentario</label>
        <textarea maxlength='256' ng-model="vm.report.coment" ng-disabled='vm.reporting' md-maxlength="256" rows="4" md-select-on-focus name='reportComment'></textarea>
        <div ng-messages="reportForm.reportComment.$error" role="alert">
          <div ng-message="md-maxlength">Máximo 256 caracteres</div>
        </div>
      </md-input-container>
    </div>
    <md-button type='submit' class='reportbtn' ng-if='!vm.reporting' layout='row' layout-align='center center'>
      <span>Reportar</span>
      <span class='btn-icon'></span>


      <!--<span class="btn-icon"></span>-->
    </md-button>
    <md-progress-circular ng-if='vm.reporting' md-mode="indeterminate"></md-progress-circular>
  </form>
</md-sidenav>
