<div layout-align='center center' layout='row' flex layout-fill ng-if='vm.loadingReports'>
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-list flex class="reports-list">
  <md-list-item class="md-3-line md-long-text report" ng-repeat='report in vm.reports' layout='row' layout-wrap>
    <div class='img-container' flex-gt-sm='20' flex-md='30' flex='100' style="background-image: url('{{report.info.image}}')">
      <div class='overlay' ></div>
      <div class='md-padding' style='position:relative'>
        <h2>{{report.source.domain}}</h2>
        <h3>{{report.motive}}</h3>
        <h3 ng-bind="report.createdAt | date:'dd-MM-yyyy'"></h3>
      </div>
    </div>
    <div flex-gt-sm='80' flex-md='70' flex='100'class="md-list-item-text md-padding">
      <h3><a ng-href='{{report.link}}'>{{ report.info.title }}</a></h3>
      <h4><a ng-href="{{report.link}}" target="_blank">{{report.link}}</a></h4>
      <p>
        {{report.info.description}}
      </p>
    </div>
  </md-list-item>

  <div>
    <button class="action-btn action-btn-block action-btn-inverted">
      Cargar más
    </button>
  </div>

</md-list>
